<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CODIFICAR</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}">
</head>

<body>
  <div class="left-arrow"><a href="/"><i class='bx bxs-left-arrow-alt'></i></a></div>

  <div class="container-title">
    <div class="title">
      <h1>Codificar<span>.</span></h1>
    </div>
  </div>

  <div class="container form">
    <form class="formulario" action="/encode" method="POST">
      <div class="entrada"> <textarea cols="50" rows="5" name="morse_text" id="morse_text"
          placeholder="*Caracteres permitidos: abcd... 0123..."></textarea>
      </div>
      <div class="btn-txt-morse">
        <button class="btn btn1">CODIFICAR</button></a>
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" id="result" name="result" readonly value="{{result}}">
      </div>
    </form>
  </div>

</body>

</html>