<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Codigo Morse</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}">
</head>

<body>

    <div class="container-title">
        <div class="title-img">
            <img src="./static/morse-code.png" alt="">
        </div>
        <div class="title">
            <h1>Conversor de Código Morse</h1>
        </div>
    </div>

    <div class="btn-option">
        <div class="btn-txt-morse">
            <a href="{{ url_for('encode') }}"><button class="btn btn1">CODIFICAR</button></a>
        </div>
        <div class="btn-morse-txt">
            <a href="{{ url_for('decode') }}"><button class="btn btn2">DECODIFICAR</button></a>
        </div>
    </div>

</body>

</html>